@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
  background-image: linear-gradient(to right, #020024, #090979, #00D4FF);
  
}


.greenish{
   color: #8a9659;
}

.white{
  color: white;
}
.azure{
   color: #43e1f0;
}

pre{
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
  margin-top: 6em;
  width: 478px;
}

pre h1 {
  overflow: hidden;  Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: wrap; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1s steps(40, end),
    blink-caret .75s step-end infinite;
}

p{
  animation-delay: 3.5s;
  width: 500px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 800;
  font-style: bold;
}

.josefin-sans-font{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading{
  color:#00D4FF;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5em;
}


.content{
  color: white;
 font-size: 1.8em;
 
 margin-left: 6em;
 row-gap: 10px;
}